@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<BigSchool.Models.Course>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="row">
    <ul class="course">
        @foreach(var course in Model)
            {
                <li>
                    <div class="date" >
                        <div class="month">
                            @course.DateTiem.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTiem.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecturer">
                            @course.Lectuter.Name
                        </span>
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>

                </li>
            }
    </ul>
</div>